<h1><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:order_confirmation" /></h1>
<p><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:hello" /></p>
<p><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:thank_you_for_order" arguments="{0: order.orderNumber}" /></p>
<p><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:order_total" />: {order.totalGross.decimalString} {order.currency}</p>
<f:if condition="{withdrawalPeriodDays}">
	<p>
		<f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:withdrawal_notice_intro" arguments="{0: withdrawalPeriodDays}" /><br>
		<f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:withdrawal_notice_deadline" arguments="{0: f:format.date(date: withdrawalDeadline, format: 'Y-m-d')}" /></p>
</f:if>
<f:render partial="Email/Signature" arguments="{_all}" />
