<h1><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:withdrawal_intro" /></h1>
<p>
    <f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:order_number" />: {order.orderNumber}<br>
    <f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:customer_email" />: {order.email}<br>
    <f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:order_total" />: {order.totalGross.decimalString} {order.currency}
</p>
<f:if condition="{reason}">
    <f:then>
        <p><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_email.xlf:withdrawal_reason" />: {reason}</p>
    </f:then>
</f:if>
