<div class="product-list-item card mb-4">
    <f:if condition="{product.primaryImage}">
        <f:then>
            <f:image image="{product.primaryImage}" width="300c" height="200c" alt="{product.title}" class="card-img-top" />
        </f:then>
    </f:if>
    <div class="card-body">
        <h5 class="card-title">{product.title}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{product.subtitle}</h6>
        <f:if condition="{product.lowestPriceTier}">
            <f:then>
                <p class="card-text">
                    <f:translate key="price_from" extensionName="products_core" />
                    <f:render partial="Product/Price" arguments="{price: product.lowestPriceTier.price}" />
                </p>
            </f:then>
            <f:else>
                <p class="card-text">
                    <f:render partial="Product/Price" arguments="{price: product.price}" />
                </p>
            </f:else>
        </f:if>
        <f:link.action action="show" controller="Product" extensionName="ProductsCore" pluginName="ProductDetail" pageUid="{settings.pids.detailPage}" arguments="{product: product}" class="btn btn-primary"><f:translate key="details" extensionName="products_core" /></f:link.action>
        <f:render partial="Product/WishlistToggle" arguments="{_all}" />
    </div>
</div>
