<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:p="http://typo3.org/ns/GoldeneZeiten/Products/Core/ViewHelpers"
>
<f:variable name="displayedPrice" value="{p:pricing.displayPrice(product: product, article: selectedArticle)}" />
<f:variable name="displayedItemNumber" value="{f:if(condition: selectedArticle, then: selectedArticle.itemNumber, else: product.itemNumber)}" />
<f:variable name="displayedStock" value="{f:if(condition: selectedArticle, then: selectedArticle.inStock, else: product.inStock)}" />
<div data-product-price-and-stock>
    <f:render partial="Product/Price" arguments="{price: displayedPrice}" />
    <f:render partial="Product/PriceTiers" arguments="{priceTiers: product.priceTiers}" />

    <f:if condition="{product.articles}">
        <f:then>
            <f:if condition="{selectedArticle}">
                <f:then>
                    <f:render partial="Product/VariantAddToBasketForm" arguments="{product: product, article: selectedArticle}" />
                </f:then>
                <f:else>
                    <p class="text-muted"><f:translate key="choose_variant_prompt" /></p>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:render partial="Product/AddToBasketForm" arguments="{product: product}" />
        </f:else>
    </f:if>

    <div class="mt-3">
        <p><f:translate key="item_no" /> {displayedItemNumber}</p>
        <f:if condition="{displayedStock} > 0">
            <f:then>
                <p class="text-success"><f:translate key="in_stock" arguments="{0: displayedStock}" /></p>
            </f:then>
            <f:else>
                <p class="text-danger"><f:translate key="out_of_stock" /></p>
            </f:else>
        </f:if>
    </div>
</div>
</html>
