<div class="order-list">
    <h2><f:translate key="my_orders" /></h2>
    <f:if condition="{orders}">
        <f:then>
            <table class="table">
                <thead>
                    <tr>
                        <th><f:translate key="order_number" /></th>
                        <th><f:translate key="date" /></th>
                        <th><f:translate key="total" /></th>
                        <th><f:translate key="status" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{orders}" as="order">
                        <tr>
                            <td>{order.orderNumber}</td>
                            <td>{order.orderDate -> f:format.date(format: 'd.m.Y H:i')}</td>
                            <td>{order.totalGross.decimalString} {order.currency}</td>
                            <td>{order.status.value}</td>
                            <td>
                                <f:link.action action="show" arguments="{order: order}" class="btn btn-sm btn-info"><f:translate key="details" /></f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <p><f:translate key="no_orders_found" /></p>
        </f:else>
    </f:if>
</div>
