{namespace p=GoldeneZeiten\Products\Core\ViewHelpers}
<f:layout name="Module" />
<f:section name="Content">
    <f:if condition="{mode} == 'detail'">
        <f:then>
            <f:if condition="{order}">
                <f:then>
                    <p><a href="{listUrl}">&larr; <f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.back_to_list" /></a></p>
                    <h2><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.detail_title" arguments="{0: order.orderNumber}" /></h2>
                    <table class="table table-striped w-auto">
                        <tr>
                            <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.date" /></th>
                            <td>{order.orderDate}</td>
                        </tr>
                        <tr>
                            <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.email" /></th>
                            <td>{order.email}</td>
                        </tr>
                        <tr>
                            <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.status" /></th>
                            <td>{order.status}</td>
                        </tr>
                        <tr>
                            <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.payment_status" /></th>
                            <td>{order.paymentStatus}</td>
                        </tr>
                        <tr>
                            <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.payment_method" /></th>
                            <td>{order.paymentMethod}</td>
                        </tr>
                        <tr>
                            <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.total" /></th>
                            <td><p:format.money value="{order.totalGrossCents}" currency="{order.currency}" /></td>
                        </tr>
                        <f:if condition="{order.discountTotalCents}">
                            <f:then>
                                <tr>
                                    <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.discount" /></th>
                                    <td><p:format.money value="{order.discountTotalCents}" currency="{order.currency}" /></td>
                                </tr>
                            </f:then>
                        </f:if>
                        <f:if condition="{order.shippingLabel}">
                            <f:then>
                                <tr>
                                    <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.shipping" /></th>
                                    <td>{order.shippingLabel} &ndash; <p:format.money value="{order.shippingTotalCents}" currency="{order.currency}" /></td>
                                </tr>
                            </f:then>
                        </f:if>
                        <f:if condition="{order.customerNote}">
                            <f:then>
                                <tr>
                                    <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.note" /></th>
                                    <td>{order.customerNote}</td>
                                </tr>
                            </f:then>
                        </f:if>
                    </table>

                    <f:if condition="{orderDetailPanels}">
                        <f:then>
                            <h3><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.section.discounts_and_rewards" /></h3>
                            <f:for each="{orderDetailPanels}" as="panelHtml">
                                <f:format.raw>{panelHtml}</f:format.raw>
                            </f:for>
                        </f:then>
                    </f:if>

                    <div class="d-flex gap-2 flex-wrap">
                        <f:if condition="{canMarkPaid}">
                            <f:then>
                                <form method="post">
                                    <input type="hidden" name="orderUid" value="{order.uid}" />
                                    <input type="hidden" name="action" value="markPaid" />
                                    <button type="submit" class="btn btn-success">
                                        <f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.action.mark_paid" />
                                    </button>
                                </form>
                            </f:then>
                        </f:if>
                        <f:if condition="{canRefund}">
                            <f:then>
                                <form method="post">
                                    <input type="hidden" name="orderUid" value="{order.uid}" />
                                    <input type="hidden" name="action" value="refund" />
                                    <button type="submit" class="btn btn-warning">
                                        <f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.action.refund" />
                                    </button>
                                </form>
                            </f:then>
                        </f:if>
                        <f:for each="{availableStatusTransitions}" as="targetStatus">
                            <form method="post">
                                <input type="hidden" name="orderUid" value="{order.uid}" />
                                <input type="hidden" name="action" value="transition" />
                                <input type="hidden" name="targetStatus" value="{targetStatus.value}" />
                                <button type="submit" class="btn btn-default">
                                    <f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.action.transition_to" arguments="{0: targetStatus.value}" />
                                </button>
                            </form>
                        </f:for>
                    </div>

                    <f:if condition="{exporters}">
                        <f:then>
                            <div class="mt-4">
                                <h3><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.export.title" /></h3>
                                <div class="d-flex gap-2 flex-wrap">
                                    <f:for each="{exporters}" as="exporter">
                                        <a class="btn btn-default" href="{listUrl}&amp;order={order.uid}&amp;export={exporter.identifier}">
                                            {exporter.label}
                                        </a>
                                    </f:for>
                                </div>
                            </div>
                        </f:then>
                    </f:if>
                </f:then>
                <f:else>
                    <p><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:message.no_records" /></p>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <form method="get" class="row row-cols-lg-auto g-2 align-items-center mb-3">
                <div class="col-12">
                    <input type="text" name="orderNumber" value="{filter.orderNumber}" class="form-control" placeholder="{f:translate(key: 'LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.order_number')}" />
                </div>
                <div class="col-12">
                    <input type="text" name="email" value="{filter.email}" class="form-control" placeholder="{f:translate(key: 'LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.email')}" />
                </div>
                <div class="col-12">
                    <select name="status" class="form-select">
                        <option value=""></option>
                        <f:for each="{statusOptions}" as="statusOption">
                            <option value="{statusOption.value}" selected="{f:if(condition: '{statusOption.value} == {filter.status}', then: 'selected')}">{statusOption.value}</option>
                        </f:for>
                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-default"><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.action.filter" /></button>
                </div>
            </form>

            <f:if condition="{orders}">
                <f:then>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.order_number" /></th>
                                <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.date" /></th>
                                <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.email" /></th>
                                <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.status" /></th>
                                <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.payment_status" /></th>
                                <th><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:order.column.total" /></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{orders}" as="order">
                                <tr>
                                    <td>{order.orderNumber}</td>
                                    <td>{order.orderDate}</td>
                                    <td>{order.email}</td>
                                    <td>{order.status}</td>
                                    <td>{order.paymentStatus}</td>
                                    <td><p:format.money value="{order.totalGrossCents}" currency="{order.currency}" /></td>
                                    <td class="text-end">
                                        <a class="btn btn-default btn-sm" href="{detailUrl}&order={order.uid}">
                                            <core:icon identifier="actions-open" size="small" />
                                        </a>
                                    </td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </f:then>
                <f:else>
                    <p><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_be.xlf:message.no_records" /></p>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>
