<div class="checkout-review">
    <h2><f:translate key="checkout_review" /></h2>
    <f:flashMessages />

    <div class="row">
        <div class="col-md-6">
            <h4><f:translate key="billing_address" /></h4>
            <p>
                {address.firstName} {address.lastName}<br>
                {address.street}<br>
                {address.zip} {address.city}<br>
                {address.country}
            </p>
            <f:if condition="{deliveryAddress}">
                <f:then>
                    <h4><f:translate key="delivery_address" /></h4>
                    <p>
                        {deliveryAddress.firstName} {deliveryAddress.lastName}<br>
                        {deliveryAddress.street}<br>
                        {deliveryAddress.zip} {deliveryAddress.city}<br>
                        {deliveryAddress.country}
                    </p>
                </f:then>
            </f:if>
            <f:if condition="{giftMessage}">
                <f:then>
                    <h4><f:translate key="gift_message" /></h4>
                    <p>{giftMessage}</p>
                </f:then>
            </f:if>
        </div>
        <div class="col-md-6">
            <h4><f:translate key="payment_method" /></h4>
            <p>{paymentMethod.label}</p>
            <f:if condition="{shippingSelection.option}">
                <f:then>
                    <h4><f:translate key="checkout_shipping_method" /></h4>
                    <p>{shippingSelection.label} - {shippingSelection.total.decimalString}</p>
                </f:then>
            </f:if>
        </div>
    </div>

    <f:render partial="Basket/Notices" arguments="{basket: basket, settings: settings}" />

    <div class="mt-4">
        <f:render partial="Order/Summary" arguments="{summary: basket}" />
    </div>

    <div class="mt-4">
        <f:form action="finalize">
            <f:render partial="Checkout/LoyaltySlot" arguments="{_all}" />
            <div class="form-check mb-3">
                <f:form.checkbox name="termsAccepted" value="1" class="form-check-input" id="termsAccepted" required="required" />
                <label class="form-check-label" for="termsAccepted"><f:translate key="terms_accepted_label" /></label>
            </div>
            <f:form.submit value="{f:translate(key: 'place_order')}" class="btn btn-success btn-lg" />
        </f:form>
    </div>
</div>
