<table style="width: 100%; margin-bottom: 20px;">
    <tr>
        <td style="width: 50%; vertical-align: top;">
            <strong><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_invoice.xlf:billing_address" /></strong><br>
            {order.billingAddress.company}<br>
            {order.billingAddress.firstName} {order.billingAddress.lastName}<br>
            {order.billingAddress.street} {order.billingAddress.houseNumber}<br>
            {order.billingAddress.zip} {order.billingAddress.city}<br>
            {order.billingAddress.country}
        </td>
        <td style="width: 50%; vertical-align: top;">
            <f:if condition="{order.deliveryAddress}">
                <f:then>
                    <strong><f:translate key="LLL:EXT:products_core/Resources/Private/Language/locallang_invoice.xlf:delivery_address" /></strong><br>
                    {order.deliveryAddress.company}<br>
                    {order.deliveryAddress.firstName} {order.deliveryAddress.lastName}<br>
                    {order.deliveryAddress.street} {order.deliveryAddress.houseNumber}<br>
                    {order.deliveryAddress.zip} {order.deliveryAddress.city}<br>
                    {order.deliveryAddress.country}
                </f:then>
            </f:if>
        </td>
    </tr>
</table>
